<ac-layer
  acFor="let city of cities$"
  [context]="this"
>
  <ac-billboard-desc props="{
    image: city.image,
    position: city.position,
    scale: 0.08,
    pixelOffset : [0,-40] | pixelOffset,
    scaleByDistance: scaleByDistance,
    distanceDisplayCondition: distanceDisplayCondition
  }"></ac-billboard-desc>
  <!-- <ac-html-desc props="{position: city.position, show: true}">
    <ng-template let-html>
      <div>
        <h1>{{city.name}}</h1>
      </div>
    </ng-template>
  </ac-html-desc> -->
  <ac-label-desc props="{
    position: city.position,
    showBackground: true,
    text: city.name,
    font: '24px sans-serif',
    scaleByDistance: scaleByDistance,
    distanceDisplayCondition: distanceDisplayCondition
  }"></ac-label-desc>
  <ac-label-desc
    props="{
      position: city.position,
      show: showTemperture(),
      text: getTemperture(city.dayForecast[0]) ,
      showBackground: true,
      pixelOffset : [0,40] | pixelOffset,
      font: '18px sans-serif',
      scaleByDistance: scaleByDistance,
      distanceDisplayCondition: distanceDisplayCondition
    }"
  ></ac-label-desc>
  <ac-label-desc
    props="{
      position: city.position,
      show: showHumidity(),
      text: getHumidity(city.dayForecast[0]) ,
      showBackground: true,
      pixelOffset : [0,40] | pixelOffset,
      font: '18px sans-serif',
      scaleByDistance: scaleByDistance,
      distanceDisplayCondition: distanceDisplayCondition
    }"
  ></ac-label-desc>
</ac-layer>
